body, h1 {
    margin: 0;
}
.top-container {
    background-color: #E4F9F5;
    height:200px;
    width: 200px;
    border: 10px solid black;
    padding:20px;
}

.middle-container
{
    height:200px;
    width:200px;
    background-color: aquamarine;
    border: 20px solid black;
    margin-left: 260px;
}

.bottom-container {
    height:200px;
    width:200px;
    background-color: rgb(19, 95, 70);
    border: 10px solid black;
    margin-left:500px;
}